name: Run Lint and Tests

on:
  push:
    branches-ignore:
      - main
      - alpha
      - beta
      - next

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        node-version: [18, 20]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install

      - run: npm run lint

      - run: npm test
